.Base-raiz {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c7c7c7;
    overflow-x: hidden;
    padding-top: 120px;
}